*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5d5d5;
    font-size: 1.25rem; 
    font-family: monospace;
}

a{
    color: skyblue;
}

a::after{
    color: whitesmoke;
}

.centered-text{
    text-align: center;
}

.centered-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-heading{
    background-color: #a21248;
    /* text-align: center; */
    max-width: 90%;
    max-height: 27vh;
    margin: 0% 0% 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-heading h1{
    font-size: 8rem;
    padding-left: 2%;
    font-family: "Style Script", cursive;
}

.navbar ul{
    display: flex;
    /* justify-content: center; */
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    /* padding: 0% 0% 0% 28%; */
    padding: 0%;
    margin: 0% 0% 0% 5%;
    max-width: 90%;
    overflow: hidden;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.content-box{
    background-color: #270835;
    /* min-width: 80%; */
    max-width: 90%;
    min-height: 90vh;
    margin: 0% 0% 10% 5%;
    /* outline: 5px rgba(97, 97, 97, 0.986) solid; */
    color: white;
}

.columns {
    display: grid;
    padding: 2% 1%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "col-2" "col-1";
}

.col-1{
    display: flex;
    grid-column: span 1;
    justify-content: center;
    text-align: center;
    border: .5px solid hsla(0, 0%, 79%, 0.493);
    /* outline: 1px solid rgba(255, 255, 255, 0.705); */
    padding-top: 5%;
}

.col-1 ul{
    list-style-type: none;
}

.col-1 a{
    text-decoration: none;
}

.col-2{
    grid-column: span 2;
    padding-left: .5%;
    /* border: 1px solid rgba(255, 255, 255, 0.705); */
}

.article-image-centered{
    padding-left: 30%;
}

.page-grid{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 18px;
    grid-template-areas: 
    "gird-colm-1" "gird-colm-1" "side-grid";
    /* color: black; */
    text-align: center;
    justify-content: center;
    /* width: 66%; */
}

.grid-background{
    height: 200px;
    background-color: #333333;
    border-radius: 10px;
}

.side-grid{
    /* height: 550px; */
    background-color: #333333;
    border-radius: 10px;
    grid-column: 3;
    grid-column: span 2;
    /* padding: 45% 0%; */
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
}

.gird-colm-1{
    grid-column: 1;
    grid-column: span 2;
    padding-top: 2%;
}

.gird-colm-2{
    grid-column: 2;
    grid-column: span 2;
    padding-top: 2%;
}

.gird-colm-3{
    grid-column: 3;
    grid-column: span 2;
}

.blarg{
    padding: 2% 17% 0% 17%;
}

.blarg h2{
    text-align: center;
}

.blarg li{
    margin: .5em 0em 0em 1.2em;
}

/* .aside-grid{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    grid-template-areas: "gird-colm-1" "gird-colm-2" "gird-colm-3";
    color: black;
    text-align: center;
    justify-content: center;
    width: 33%;
} */